:root{
    --color-primary: rgb(5, 5, 5) ;
    --color-degrade: #FBD407;
    --color-secundary: #af9e00;
    --color-background: rgb(235, 235, 235);
    --color-black: #000000;
    --color-white: rgb(255, 255, 255);
    --border-site: var(--color-primary) 1px solid;

    
}

/*geral*/

*{
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

body{
    display: grid;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 1fr minmax(200px, 250px);
    grid-template-rows: 10% 1fr auto;
    min-height: 100vh;
    
    
    background-color: var(--color-background);
    font-family: 'Poppins', sans-serif;
}


h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

p{
    font-size: 20px;
    text-align: left;
    
}

img{
    border-radius: 10px;
}

section{
    margin-bottom: 4rem;
}




.header{
    grid-area: header;
}
h1{
    color: var(--color-secundary);
    text-align: center;
    font-size: 40px;
    padding: 1.5rem;
}

nav{
    width: 100%;
    background-color: var(--color-secundary);
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;

    padding: 1rem;
    border: var(--border-site);


}