:root{
    --color-primary: rgb(5, 5, 5) ;
    --color-degrade: #FBD407;
    --color-secundary: #af9e00;
    --color-background: rgb(235, 235, 235);
    --color-black: #000000;
    --color-white: rgb(255, 255, 255);
    --border-site: var(--color-secundary) 1px solid;

    
}

/*geral*/

*{
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
}

body{
    
    
    background-image: linear-gradient(to right, var(--color-primary), var(--color-secundary));
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
}


h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-white);
}

p{
    font-size: 20px;
    text-align: left;
    color: var(--color-white);
    
}

img{
    border-radius: 10px;
    display: block;
    width: auto;
    height: 208px;
    padding: 0;
    margin: 0;
}

section{
    margin-bottom: 4rem;
}


/*aba*/

.aba{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-primary);
    width: 1000px;
    height: 650px;
    margin: 0 auto;
}

.divVoltar{
    display: flex;
    width: 100%;
}
.voltar{
    margin-right: auto;
    margin: 2rem;

    width: auto;
    height: 20px;
    transition: all 0.3s ease;
}

.voltar:hover{
    width: auto;
    height: 30px;
}
label{
    color: var(--color-white);
    font-size: 18px;
    padding: 1.5rem;

}

.input{
    border-radius: 5px;
    width: auto;
    height: auto;
}

.entrar{
    background-image: linear-gradient(to right, var(--color-primary), var(--color-degrade));
    color: var(--color-white);
    
    font-size: 15px;
    border-radius: 20px;
    border: var(--border-site);
    width: 200px;
    
    padding: 0.6rem 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    
    transition: all 0.3s ease;
}
.link{
    color: var(--color-secundary);
    font-size: 18px;
    padding: 1rem;
    text-decoration: none;

    cursor: pointer;
}

.link:hover{
    font-size: 20px;

}


/* join us*/


ul{
    padding: 1.5rem;
}

.preco{
    background-image: linear-gradient(to right, var(--color-primary), var(--color-degrade));
    color: var(--color-white);
    
    font-size: 15px;
    border-radius: 20px;
    border: var(--border-site);
    width: 350px;
    height: 100px;
    
    padding: 0.6rem 1rem;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    
    transition: all 0.3s ease;
}








/* Help */


textarea{
    width: 200px;
    height: 100px;
    background-color: var(--color-background);
    padding: 3rem;
    margin: 2rem;

}